.list-group{
    border-radius: 0;
}
.list-group-item{
    background-color:transparent;
    padding: 0.5rem;
    border: none;
    text-align: center;
}
.list-group-item.active{
    background-color: green !important;
    border:3px outset green;
}
.list-group-item:hover{
    transform: scale(1.04);
    transition: 0.1s;
    background-color: transparent;
    border : 1px solid green;
    box-shadow: 1px 1px 7px grey;
}
.fa-solid{
    font-size: 2rem;
    font-weight:800
}