.ht{
    height: 100vh;
    width: 100vh;
}
.btn:hover{
    background-color: #ADFF8B;
    color: white;
    background-image: linear-gradient(lightgreen, green);
    transform: scale(1.03);
    transition: 0.2s;
}