.textStyle{
    font-weight: bolder;
    color: green;
    text-decoration: none;
    transition: 0.1s;
    text-shadow: 0.1rem 0.1rem 0.2rem lightgray;
}
.textStyle:hover{
    color: darkgreen;
    transform: scale(1.03);
    text-shadow: 0.2rem 0.2rem 0.3rem lightgray;
}
.color1{
  background: rgb(243,243,243);
  background: radial-gradient(circle, rgba(243,243,243,1) 0%, rgba(211,255,193,0.927608543417367) 100%);
  animation: body 5s infinite ease-in-out;
}
@keyframes body {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }

.farms{
    text-decoration: none;
    color: green;
    border-color: white;
    margin: 0.5rem;
    transition: 0.1s
}

.farms:hover{
    color: darkgreen;
    transform: scale(1.07);
    text-shadow: 1px 1px 5px lightgrey;
}