.App {
  font-family: 'Julius Sans One', sans-serif;
  background: rgb(243,243,243);
  background: radial-gradient(circle, rgba(243,243,243,1) 0%, rgba(211,255,193,0.8855917366946778) 100%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
